aks_clusters = {
  example = {
    location            = "uksouth"
    name                = "jj1212"
    resource_group_name = "rg-aks-prod"
    network = {
      node_subnet_id = "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg-network/providers/Microsoft.Network/virtualNetworks/vnet-example/subnets/subnet-nodes"
      pod_cidr       = "10.244.0.0/16"
    }
    lock = {
      kind = "CanNotDelete"
    }
    network_policy      = "cilium"
    node_pools          = {}
    os_disk_type        = "Managed"
    os_sku              = "AzureLinux"
    outbound_type       = "managedNATGateway"
    private_dns_zone_id = "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg-dns/providers/Microsoft.Network/privateDnsZones/privatelink.uksouth.azmk8s.io"
  }
}
