aks_clusters = {
  example = {
    location = "eastus"
    name     = "my-aks-cluster"
    network = {
      node_subnet_id = "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/my-rg/providers/Microsoft.Network/virtualNetworks/my-vnet/subnets/my-subnet"
      pod_cidr       = "192.168.0.0/16"
    }
    resource_group_name = "my-resource-group"
  }
}
